.grid-field {
    border: 1px solid black;
    border-radius: 5px;
}

.grass {
    background-color: green;
}

.road {
    background-color: slategray;
}

.water {
    background-color: dodgerblue;
}

#grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
    height: 40rem;
    width: 40rem;
}